body {

    font-family: 'Lugrasimo', cursive;
    margin: 0px
}

h1 {

    font-size: 50px;

}

.Orange {
    color: rgb(230, 157, 22);
}

section {
    display: flex;
}

.Half-width {
    width: 50%;
    padding-left: 5%;
}

.Half-width img {
    width: 50%;
}

.bio {

    color: rgb(77, 49, 175);
}

.bio-title {

    color: rgb(184, 2, 2);
}



.Link_Button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(155, 140, 146);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 1%;
    border-radius: 5px;
    background-image: linear-gradient(rgb(252, 92, 0), rgb(255, 0, 0));
    font-weight: bold;
}

.Top-Banner {
    background-image: url(images/abc.png);
    background-repeat: no-repeat;
    background-size: cover;
}